body{
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  overflow-x: hidden;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
label{
  font-weight: 400;
  color: #333333;
}
label .required{
  color: #ff2727;
  border-bottom: none;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  outline: none;
}
figure{
  max-width: 100%;
}
input:focus{
  outline: none;
}
a:hover, a:focus, a:visited, a:active,
button:hover, button:focus, button:visited, button:active{
  text-decoration: none;
  outline: none;
}
table {
  border: 1px solid #E6E6E6;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
  margin-bottom: 20px;
}
th,td{
  border: 1px solid #e6e6e6;
  padding: 10px 5px;
  font-weight: normal;
  text-align: center;
}
textarea{
  display: block;
}
input[type="text"],
input[type="email"],
textarea,
input[type="password"],
input[type="tel"],
select,
input[type="search"]{
  border: 1px solid #e6e6e6;
  border-radius: 0;
  padding: 7px 20px;
  max-width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="password"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="search"]::-ms-input-placeholder{
  color: #888888;
}
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder{
  color: #888888;
}
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="search"]::placeholder{
  color: #888888;
}
select{
  background: transparent;
  border: none;
  color: #ffffff;
}
select option{
  color: #333333;
}